@using Microsoft.AspNetCore.Identity
@model IdentityRole

@{
    ViewData["Title"] = "Cập nhật quyền";
    Layout = "~/Areas/Admin/Views/Shared/_Layoutadmin.cshtml";
}


<h3 class="mt-0">Cập nhật quyền</h3>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item"><a asp-action="index">Phân quyền hệ thống</a></li>
    <li class="breadcrumb-item active">Cập nhật</li>
</ol>
<div class="row justify-content-center">
    <div class="col-md-8">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="Id" type="hidden" class="form-control" />

            <div class="form-row">
                <div class="form-group col-md-6">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
            </div>
            <input asp-for="NormalizedName" type="hidden" class="form-control" />

            <div class="form-group">
                <input type="submit" value="Lưu" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-outline-info">Quay lại danh sách</a>
            </div>
        </form>
    </div>
</div>

