@model BAITAP.Models.LoaiKhuyenMai

@{
    ViewData["Title"] = "Xóa loại khuyến mãi";
    Layout = "~/Areas/Admin/Views/Shared/_Layoutadmin.cshtml";
}

<h3 class="mt-0">Xóa loại khuyến mãi</h3>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item"><a asp-action="index">Loại khuyến mãi</a></li>
    <li class="breadcrumb-item active">Xóa</li>
</ol>
<div class="card">
    <div class="card-body">
        <dl class="row">
            <dt class="col-sm-3">Tên loại khuyến mãi</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.TenLoaiKm)</dd>
        </dl>

        <div class="text-center">
            <p class="text-danger">Bạn có chắc chắn muốn xóa loại khuyến mãi này?</p>

            <form asp-action="Delete" method="post">
                @Html.AntiForgeryToken()
                <input type="hidden" asp-for="MaLoaiKm" />

                <button type="submit" class="btn btn-danger">Xóa</button>
                <a asp-action="Index" class="btn btn-secondary">Quay lại danh sách</a>
            </form>
        </div>
    </div>
</div>
