@page
@model LogoutModel
@{
    ViewData["Title"] = "ĐĂNG XUẤT";
}

<header>
    @{
        if (User.Identity?.IsAuthenticated ?? false)
        {
            <h1>@ViewData["Title"]</h1>
            <div class="row m-500">
                <div class="col-md-4">
                </div>
                <div class="col-md-4">
                    <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
                        <button type="submit" class="nav-link btn btn-outline-danger">Xác nhận đăng xuất</button>
                    </form>
                </div>
                <div class="col-md-4">
                </div>
            </div>
        
        }
        else
        {
            <p>You have successfully logged out of the application.</p> 
        }
    }
</header>
