@model BAITAP.Models.Diachi

@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_Layoutadmin.cshtml";
}



<div class="row justify-content-center">
    <div class="col-md-8">
        <h4>Thêm mới địa chỉ</h4>
        <hr />
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label asp-for="Makh" class="control-label"></label>
                    <select asp-for="Makh" class="form-control" asp-items="ViewBag.Makh"></select>
                </div>

                <div class="form-group col-md-8">
                    <label asp-for="Diachi1" class="control-label"></label>
                    <input asp-for="Diachi1" class="form-control" />
                    <span asp-validation-for="Diachi1" class="text-danger"></span>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label asp-for="Quanhuyen" class="control-label"></label>
                    <input asp-for="Quanhuyen" class="form-control" />
                    <span asp-validation-for="Quanhuyen" class="text-danger"></span>
                </div>

                <div class="form-group col-md-4">
                    <label asp-for="Tinhthanh" class="control-label"></label>
                    <input asp-for="Tinhthanh" class="form-control" />
                    <span asp-validation-for="Tinhthanh" class="text-danger"></span>
                </div>

                <div class="form-group col-md-4">
                    <label asp-for="Phuongxa" class="control-label"></label>
                    <input asp-for="Phuongxa" class="form-control" />
                    <span asp-validation-for="Phuongxa" class="text-danger"></span>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-4">
                    <label asp-for="Macdinh" class="control-label"></label>
                    <select asp-for="Macdinh" class="form-control">
                        <option value="1">Mặc định</option>
                        <option value="0">Không</option>
                    </select>
                    <span asp-validation-for="Macdinh" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <input type="submit" value="Lưu" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-outline-info">Quay lại danh sách</a>

            </div>
        </form>
    </div>
</div>

