@page
@model RegisterModel
@{
    ViewData["Title"] = "Thêm mới nhân viên";
}


<div class="row">
    <div class="col-md-4">
        <img src="~/images/account/dangky.png" />
    </div>
    <div class="col-md-8">
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <div class="row">
                <div class="col-md-6">
                    <h2>Tài khoản</h2>
                    <hr />
                    <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                    <div class="form-floating mb-3">
                        <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="Nhập email" />
                        <label asp-for="Input.Email"></label>
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-3">
                        <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Nhập mật khẩu" />
                        <label asp-for="Input.Password"></label>
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-3">
                        <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Xác nhận mật khẩu" />
                        <label asp-for="Input.ConfirmPassword"></label>
                        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-3">
                        <select asp-for="Input.Role" class="form-control" asp-items="@Model.Input.RoleList" aria-required="true">
                            <option disabled selected>Chọn quyền tài khoản</option>
                        </select>
                        <span asp-validation-for="Input.Role" class="text-danger"></span>
                    </div>


                </div>


                <div class="col-md-6">
                    <h2>Nhân viên</h2>
                    <hr />
                    <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                    <div class="form-floating mb-3">
                        <input asp-for="Input.Hoten" class="form-control" autocomplete="username" aria-required="true" placeholder="Nhập email" />
                        <label asp-for="Input.Hoten"></label>
                        <span asp-validation-for="Input.Hoten" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-3">
                        <input asp-for="Input.Sodienthoai" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Nhập mật khẩu" />
                        <label asp-for="Input.Sodienthoai"></label>
                        <span asp-validation-for="Input.Sodienthoai" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-3">
                        <select asp-for="Input.macv" class="form-control" aria-required="true">
                            <option disabled selected>Chọn chức vụ</option>
                            @foreach (var chucvu in Model.Input.ChucVuList)
                            {
                                <option value="@chucvu.Macv">@chucvu.Ten</option>
                            }
                        </select>
                        <span asp-validation-for="Input.macv" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Thêm mới</button>

        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
