@model BAITAP.Models.Mh

@{
    ViewData["Title"] = "Xóa sản phẩm";
    Layout = "~/Areas/Admin/Views/Shared/_Layoutadmin.cshtml";
}

<h3 class="mt-0">Xóa sản phẩm</h3>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item"><a asp-action="index">Sản phẩm</a></li>
    <li class="breadcrumb-item active">Xóa</li>
</ol>
<div class="card">
    <div class="card-body">
        <dl class="row">
            <dt class="col-sm-3">Tên sản phẩm</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.Ten)</dd>

            <dt class="col-sm-3">Hình ảnh</dt>
            <dd class="col-sm-9">
                <img src="~/images/products/@Html.DisplayFor(model => model.Hinhanh)" class="img-thumbnail" />
            </dd>

            <dt class="col-sm-3">Ngày tạo</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.Ngaytao)</dd>

            <dt class="col-sm-3">Ngày cập nhật</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.Ngaycapnhat)</dd>
        </dl>

        <div class="text-center">
            <p class="text-danger">Bạn có chắc chắn muốn xóa sản phẩm này?</p>

            <form asp-action="Delete" method="post">
                @Html.AntiForgeryToken()
                <input type="hidden" asp-for="Id" />

                <button type="submit" class="btn btn-danger">Xóa</button>
                <a asp-action="Index" class="btn btn-info">Quay lại danh sách</a>
            </form>
        </div>
    </div>
</div>
