@model BAITAP.Models.CtKhuyenMaiSanPham

@{
    ViewData["Title"] = "Thêm Mới";
    Layout = "~/Areas/Admin/Views/Shared/_Layoutadmin.cshtml";
}

<h1 class="text-center text-info">Thêm Mới Sản Phẩm Khuyến Mãi</h1>

<div class="row justify-content-center">
    <div class="col-md-6">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="MaCtkm" class="control-label">Chọn Mã CTKM:</label>
                <select asp-for="MaCtkm" class="form-control" asp-items="ViewBag.MaCtkm"></select>
            </div>

            <div class="form-group">
                <label asp-for="Mamh" class="control-label">Chọn Mã Mặt Hàng:</label>
                <select asp-for="Mamh" class="form-control" asp-items="ViewBag.Mamh"></select>
            </div>

            <div class="form-group">
                <label asp-for="Phantramkhuyenmai" class="control-label">Phần Trăm Khuyến Mãi:</label>
                <div class="input-group">
                    <input asp-for="Phantramkhuyenmai" class="form-control" />
                    <span class="input-group-text">%</span>
                </div>
                <span asp-validation-for="Phantramkhuyenmai" class="text-danger"></span>
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-success">Thêm Mới</button>
            </div>
        </form>
    </div>
</div>

<div class="text-center">
    <a class="btn btn-outline-info" asp-action="Index">Quay lại danh sách</a>
</div>
