@model BAITAP.Models.CtKhuyenMaiSanPham

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_Layoutadmin.cshtml";
}

<h1 class="text-center text-danger">Xác nhận xóa trình khuyến mãi sản phẩm</h1>
<div class="card">
    <div class="card-body">
        <dl class="row">
            <dt class="col-sm-3">Phần trăm khuyến mãi</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.Phantramkhuyenmai)</dd>

            <dt class="col-sm-3">Mã CTKM</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.MaCtkmNavigation.TenKm)</dd>

            <dt class="col-sm-3">Sản phẩm</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.MamhNavigation.Ten)</dd>
        </dl>

        <div class="text-center">
            <p class="text-danger">Bạn có chắc chắn muốn xóa mục này?</p>

            <form asp-action="Delete" method="post">
                @Html.AntiForgeryToken()
                <input type="hidden" asp-for="Id" />

                <button type="submit" class="btn btn-danger">Xóa</button>
                <a asp-action="Index" class="btn btn-secondary">Quay lại danh sách</a>
            </form>
        </div>
    </div>
</div>
