@model BAITAP.Models.Chucvu

@{
    ViewData["Title"] = "Cập nhật chức vụ";
    Layout = "~/Areas/Admin/Views/Shared/_Layoutadmin.cshtml";
}


<h3 class="mt-0">Cập nhật chức vụ</h3>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item"><a asp-action="index">Chức vụ</a></li>
    <li class="breadcrumb-item active">Cập nhật</li>
</ol>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Macv" />
            <div class="form-group">
                <label asp-for="Ten" class="control-label"></label>
                <input asp-for="Ten" class="form-control" />
                <span asp-validation-for="Ten" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Heso" class="control-label"></label>
                <input asp-for="Heso" class="form-control" />
                <span asp-validation-for="Heso" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Lưu" class="btn btn-success" />
                <a asp-action="Index" class="btn btn-outline-info">Quay lại danh sách</a>

            </div>
        </form>
    </div>
</div>

