@using Microsoft.AspNetCore.Identity
@using Newtonsoft.Json;
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>@ViewData["Title"] - ADMIN</title>
    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/style.min.css" rel="stylesheet" />
    <link href="~/admin/css/styles.css" rel="stylesheet" />
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/BAITAP.styles.css" asp-append-version="true" />
    <!-- Thêm dòng sau vào phần head của trang HTML của bạn -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.18.0/font/bootstrap-icons.css" rel="stylesheet">
    <script src="https://cdn.ckeditor.com/4.17.1/standard/ckeditor.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <script src="~/js/site.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>

</head>
<body class="sb-nav-fixed">
    <script>
        CKEDITOR.replace('motaEditor', {
            height: 300 // Điều chỉnh chiều cao theo ý muốn của bạn
        });
    </script>
    <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
        <!-- Navbar Brand-->
        <a asp-area="Admin" class="navbar-brand ps-3" asp-action="Index" asp-action="home">Admim AYTI SHOP</a>
        <!-- Sidebar Toggle-->
        <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i class="fas fa-bars"></i></button>
        <!-- Navbar Search-->
        <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
            <div class="input-group">
                <input class="form-control" type="text" placeholder="Tìm kiếm..." aria-label="Search for..." aria-describedby="btnNavbarSearch" />
                <button class="btn btn-primary" id="btnNavbarSearch" type="button"><i class="fas fa-search"></i></button>
            </div>
        </form>
       
        @if (SignInManager.IsSignedIn(User))
        {
            <a class="nav-link text-light" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Xin chào @User.Identity?.Name</a>
            <!-- Trong phần HTML của trang của bạn -->
            <a id="logoutButton" class="btn btn-outline-danger m-1" data-toggle="modal" data-target="#confirmLogoutModal">
                <i class="bi bi-person"></i>Đăng xuất
            </a>


        }
        else
        {
            <a asp-area="Identity" asp-page="/Account/Login" class="btn btn-outline-light m-1"><i class="bi bi-person"></i>Đăng nhập</a>
        }
    </nav>
    <div id="layoutSidenav">
        <div id="layoutSidenav_nav">
            <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                <div class="sb-sidenav-menu">
                    <div class="nav">
                        <a asp-area="Admin" asp-controller="Home" asp-action="index" class="nav-link">
                            <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                            Dashboard
                            </a>
                        <div class="sb-sidenav-menu-heading">DANH MỤC</div>

                        <a  class="nav-link collapsed"  data-bs-toggle="collapse" data-bs-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
                            <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                            Sản Phẩm
                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>
                        <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                            <nav class="sb-sidenav-menu-nested nav">
                                <a asp-area="Admin" class="nav-link" asp-action="index" asp-controller="mhs">Danh sách sản phẩm</a>
                                <a asp-area="Admin" class="nav-link" asp-action="index" asp-controller="mathangs">Danh sách phiên bản sản phẩm</a>
                                <a asp-area="Admin" class="nav-link" asp-action="index" asp-controller="danhmucs">Danh sách danh mục sản phẩm</a>
                                <a asp-area="Admin" class="nav-link" asp-action="create" asp-controller="danhmucs">Thêm mới danh mục</a>
                                <a asp-area="Admin" class="nav-link" asp-action="create" asp-controller="mathangs">Thêm mới sản phẩm</a>
                            </nav>
                        </div>
                       
                        <a class="nav-link collapsed" data-bs-toggle="collapse" data-bs-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
                            <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                            Thương hiệu
                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>
                        <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                            <nav class="sb-sidenav-menu-nested nav">
                                <a class="nav-link" asp-action="index" asp-controller="thuonghieux" asp-area="Admin">Danh sách thương hiệu</a>
                                <a class="nav-link" asp-action="create" asp-controller="thuonghieux" asp-area="Admin">Thêm mới thương hiệu</a>
                            </nav>
                        </div>
                        
                        <a asp- class="nav-link collapsed" data-bs-toggle="collapse" data-bs-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
                            <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                            Đơn hàng
                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>
                        <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                            <nav class="sb-sidenav-menu-nested nav">
                                <a class="nav-link" asp-action="index" asp-controller="hoadons" asp-area="Admin">Danh sách đơn hàng</a>
                                <a class="nav-link" asp-action="create" asp-controller="hoadons" asp-area="Admin">Thêm mới đơn hàng</a>
                            </nav>
                        </div>
                     
                        <a asp- class="nav-link collapsed" data-bs-toggle="collapse" data-bs-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
                            <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                            Khách hàng & Địa chỉ
                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>
                        <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                            <nav class="sb-sidenav-menu-nested nav">
                                <a class="nav-link" asp-action="index" asp-controller="khachhangs" asp-area="Admin">Danh sách khách hàng</a>
                                <a class="nav-link" asp-action="create" asp-controller="khachhangs" asp-area="Admin">Thêm mới khách hàng</a>
                                <a class="nav-link" asp-action="index" asp-controller="diachis" asp-area="Admin">Địa chỉ khách hàng</a>
                            </nav>
                        </div> 
                   

                        <a asp- class="nav-link collapsed" data-bs-toggle="collapse" data-bs-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
                            <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                            Chương trình khuyến mãi
                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>
                        <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                            <nav class="sb-sidenav-menu-nested nav">
                                <a class="nav-link" asp-action="index" asp-controller="loaikhuyenmais" asp-area="Admin">Danh sách loại khuyến mãi</a>
                                <a class="nav-link" asp-action="index" asp-controller="ctkhuyenmai" asp-area="Admin">Danh sách CTKM</a>
                                <a class="nav-link" asp-action="create" asp-controller="ctkhuyenmai" asp-area="Admin">Thêm mới CTKM</a>
                                <a class="nav-link" asp-action="index" asp-controller="ChitietKhuyenMaiSanPham" asp-area="Admin">Danh sách SPKM</a>
                                <a class="nav-link" asp-action="create" asp-controller="ChitietKhuyenMaiSanPham" asp-area="Admin">Thêm mới SPKM</a>
                            </nav>
                        </div>
                        <a asp- class="nav-link collapsed" data-bs-toggle="collapse" data-bs-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
                            <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                            Tài khoản
                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>
                        <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                            <nav class="sb-sidenav-menu-nested nav">
                                <a class="nav-link" asp-action="index" asp-controller="nhanviens" asp-area="Admin">Danh sách tài khoản</a>
                                <a class="nav-link" asp-area="Identity" asp-page="/Account/Register">Thêm mới tài khoản</a>
                                <a class="nav-link" asp-action="index" asp-controller="roles" asp-area="Admin">Danh sách quyền</a>
                            </nav>
                        </div>
                    </div>
                </div>
    
            </nav>
        </div>
        <div id="layoutSidenav_content">
               <main>
                    <div class="container-fluid px-4">
                            @RenderBody()
                    </div>
               </main>
            <footer class="py-4 bg-light mt-auto">
                <div class="container-fluid px-4">
                    <div class="d-flex align-items-center justify-content-between small">
                        <div class="text-muted">Copyright &copy; AYITSHOP 2023</div>
                        <div>
                            <a href="#">Privacy Policy</a>
                            &middot;
                            <a href="#">Terms &amp; Conditions</a>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="confirmLogoutModal" tabindex="-1" role="dialog" aria-labelledby="confirmLogoutModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="confirmLogoutModalLabel">Xác nhận đăng xuất</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Bạn có chắc chắn muốn đăng xuất không?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy bỏ</button>
                    <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/Home", new { area = "Admin" })" method="post">
                        <button type="submit" class="nav-link btn btn-outline-danger">Xác nhận đăng xuất</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Script để xử lý sự kiện khi người dùng chấp nhận đăng xuất -->
    <script>
        $(document).ready(function () {
            $('#logoutButton').click(function () {
                $('#confirmLogoutModal').modal('show');
            });
        });
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <script src="~/admin/js/scripts.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
    <script src="~/admin/assets/demo/chart-area-demo.js"></script>
    <script src="~/admin/assets/demo/chart-bar-demo.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/umd/simple-datatables.min.js" crossorigin="anonymous"></script>
    <script src="~/admin/js/datatables-simple-demo.js"></script>
    <script src="~/ckeditor/ckeditor.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)

 
</body>
</html>
