@model BAITAP.Models.Chucvu

@{
    ViewData["Title"] = "Thêm Mới";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-center text-info">Thêm Mới Chức Vụ</h1>

<div class="row justify-content-center">
    <div class="col-md-6">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Ten" class="control-label">Tên Chức Vụ:</label>
                <input asp-for="Ten" class="form-control" />
                <span asp-validation-for="Ten" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Heso" class="control-label">Hệ Số:</label>
                <input asp-for="Heso" class="form-control" />
                <span asp-validation-for="Heso" class="text-danger"></span>
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-success">Thêm Mới</button>
            </div>
        </form>
    </div>
</div>

<div class="text-center">
    <a class="btn btn-outline-info" asp-action="Index">Quay lại danh sách</a>
</div>
